In [65]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

import hydrosignatures as hs

In [66]:
css_folder = r"Z:\PhD_Datasets&Analysis\Info_Inputs\Streamflow_Stations\Climate_Sensitive_Stations-GRDC"

filtered_css = pd.read_csv(css_folder + "//CSS_FINAL_SELECTION-MERGE_WITH_ALL.csv") # Read file with all CSS information
filtered_css

,station_name,station_no,station_id,station_latitude,station_longitude,station_status,river_name,station_elevation,CATCHMENT_SIZE,NAT_STA_ID,GRDCCOUNTRY,Continent,has_monthly_k,has_daily_k,monthly_k_recession,daily_k_recession,Next_Downstream_Station,CATCHMENT_SIZE2,Priority,Val_Analysis_Monthly_k
0,ABERCROMBIE,5204121,1075206,-33.954800,149.325200,Active,ABERCROMBIE RIVER,426.55,"2631,00 km²",412028,AU - AUSTRALIA,Oceania,Yes,No,0.420650,NaN,5204302,2631.00,432,Yes
1,ABOVE BOULEAU CREEK,4215070,1069050,50.212223,-119.538610,Active,WHITEMAN CREEK,630.00,"112,00 km²",08NM174,CA - CANADA,North America,Yes,Yes,0.350868,0.910436,4215103,112.00,773,Yes
2,"ABOVE CHENEY RESERVOIRE, KS",4125110,1069620,37.863600,-98.014800,Active,NORTH FORK NINNESCAH RIVER,443.80,"2038,30 km²",07144780,US - UNITED STATES,North America,Yes,Yes,0.417039,0.541509,4125801,2038.30,478,No
3,ABOVE FORT MCPHERSON,4208040,1068040,67.248886,-134.883060,Active,PEEL RIVER,NaN,"70600,00 km²",10MC002,CA - CANADA,North America,Yes,Yes,0.625278,0.942386,NaN,70600.00,59,No
4,"ABOVE HAMBURG, IA",4122160,1068596,40.632500,-95.625800,Active,NISHNABOTNA RIVER,272.54,"7267,50 km²",06810000,US - UNITED STATES,North America,Yes,Yes,0.549697,0.912838,4122903,7267.50,264,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
804,"WOODFORDS, CA (WEST FORK)",4118100,1068421,38.769600,-119.833800,Active,CARSON RIVER,1753.97,"169,38 km²",10310000,US - UNITED STATES,North America,Yes,Yes,0.593689,0.900646,NaN,169.38,732,Yes
805,XAMBIOA,3649418,1071023,-6.409700,-48.542200,Active,RIO ARAGUAIA,118.00,"364500,00 km²",28300000,BR - BRAZIL,South America,Yes,Yes,0.627802,0.974853,3649419,364500.00,20,No
806,XAVANTINA,3649617,1074892,-14.672500,-52.355000,Active,RIO DAS MORTES,266.00,"24950,00 km²",26100000,BR - BRAZIL,South America,Yes,Yes,0.786505,0.977071,3649618,24950.00,123,No
807,"YADKIN COLLEGE, NC",4148321,1069484,35.856700,-80.386900,Active,YADKIN RIVER,194.60,"5905,00 km²",02116500,US - UNITED STATES,North America,Yes,Yes,0.718625,0.896280,4148320,5905.00,294,Yes
808,ZOZA,6150400,1074154,41.724916,9.075456,Active,U RIZZANESE,354.42,"130,00 km²",Y8814010,FR - FRANCE,Europe,Yes,Yes,0.620801,0.875295,NaN,130.00,759,No

In [67]:
# Summary of the stations that passed the validation analysis based on monthly k recessions
filtered_css.loc[filtered_css['Val_Analysis_Monthly_k'] == "Yes"].describe().map(lambda x: f"{x:.2f}")

,station_no,station_id,station_latitude,station_longitude,station_elevation,monthly_k_recession,daily_k_recession,CATCHMENT_SIZE2,Priority
count,588.00,588.00,588.00,588.00,549.00,588.00,575.00,588.00,588.00
mean,4784832.55,1076744.13,36.04,-46.99,313.51,0.56,0.86,11171.99,445.71
std,954369.28,55856.07,22.95,73.07,322.68,0.11,0.10,61432.97,212.88
min,3618720.00,1066120.00,-37.52,-149.69,-1.80,0.11,0.27,49.00,6.00
25%,4122227.50,1068355.75,36.74,-94.52,112.61,0.49,0.83,550.28,267.75
50%,4149380.00,1069476.50,43.62,-80.42,218.71,0.57,0.89,2293.45,450.50
75%,6122140.25,1074019.50,47.25,2.04,404.06,0.64,0.93,7226.10,627.25
max,6870640.00,1584911.00,68.85,153.16,2093.98,0.90,0.99,1357678.00,809.00

In [68]:
final_sts = filtered_css.loc[filtered_css['Val_Analysis_Monthly_k'] == "Yes", 'station_no'].astype(str).tolist()
final_sts

['5204121',
 '4215070',
 '4122160',
 '4123095',
 '4115241',
 '4122151',
 '4123370',
 '4214507',
 '4119201',
 '6172260',
 '4123271',
 '6139825',
 '3649160',
 '6123200',
 '4135201',
 '6744200',
 '4125801',
 '6125670',
 '6139960',
 '4123380',
 '4123265',
 '4123280',
 '4148750',
 '4122170',
 '4119270',
 '4150451',
 '4149680',
 '3649511',
 '6125660',
 '4213045',
 '6139261',
 '5202085',
 '6139140',
 '6139681',
 '6125362',
 '6123800',
 '4123110',
 '5304010',
 '4214105',
 '4244850',
 '4215270',
 '4214400',
 '4116333',
 '4133250',
 '4244780',
 '5204018',
 '4120951',
 '4123365',
 '4244880',
 '4122260',
 '4127150',
 '4149780',
 '4143500',
 '6142660',
 '4121120',
 '6128720',
 '4123272',
 '3637810',
 '3628400',
 '4115410',
 '6603100',
 '4121102',
 '6124501',
 '6123171',
 '6121240',
 '4127201',
 '4123111',
 '4147330',
 '4123250',
 '4119260',
 '6123720',
 '6139501',
 '6122190',
 '6125260',
 '6123780',
 '6119320',
 '6123140',
 '4119263',
 '4149630',
 '4147715',
 '6139831',
 '5101090',
 '4119441',
 '4152900',
 '4119650',
 '3649210',
 '4123205',
 '6123430',
 '4147701',
 '6139060',
 '6742451',
 '4121340',
 '4120953',
 '4119283',
 '6458615',
 '6608500',
 '6139201',
 '4149410',
 '4148720',
 '4215660',
 '4125910',
 '6139520',
 '6742701',
 '4208880',
 '6457985',
 '6123810',
 '6401111',
 '4103800',
 '4231800',
 '4123351',
 '4122220',
 '4123385',
 '5104310',
 '4243310',
 '4115351',
 '6136200',
 '6122240',
 '6119090',
 '6139280',
 '4150680',
 '4133701',
 '6123380',
 '4103630',
 '3649960',
 '3649240',
 '3618720',
 '3649130',
 '6125600',
 '4147605',
 '6139930',
 '3649151',
 '6123820',
 '6123825',
 '6123190',
 '6124200',
 '4147410',
 '4119282',
 '4231200',
 '4119210',
 '6123450',
 '6123460',
 '4147907',
 '4148310',
 '4119150',
 '6123461',
 '6233350',
 '6608200',
 '6139240',
 '4105820',
 '6457990',
 '4133550',
 '6457240',
 '6119140',
 '6119060',
 '4147606',
 '4123230',
 '4147901',
 '4147700',
 '4118800',
 '4121110',
 '4122900',
 '4123260',
 '6607550',
 '5304019',
 '6122140',
 '4148125',
 '4146115',
 '4116200',
 '6607950',
 '5101163',
 '5709111',
 '5608091',
 '5101165',
 '5202160',
 '5202145',
 '5304100',
 '5101455',
 '5606125',
 '5109260',
 '5304015',
 '5304040',
 '5204120',
 '5204150',
 '5204107',
 '5101440',
 '5204020',
 '5607451',
 '5204170',
 '5101120',
 '5202046',
 '5302310',
 '5101125',
 '5202227',
 '5101395',
 '5204130',
 '5204140',
 '5101457',
 '5101260',
 '5204182',
 '4147470',
 '4125915',
 '6605815',
 '4119251',
 '3649211',
 '4149122',
 '6139940',
 '4121330',
 '4119262',
 '3649010',
 '4122280',
 '6123645',
 '6855411',
 '4123268',
 '4119300',
 '4119280',
 '6144350',
 '6128630',
 '4123131',
 '6139832',
 '6123640',
 '4247700',
 '6123150',
 '4115320',
 '6135210',
 '4123290',
 '4152800',
 '4113600',
 '6456105',
 '6435060',
 '6855412',
 '4119321',
 '4123300',
 '4244995',
 '6119015',
 '6139361',
 '4150315',
 '4244870',
 '6128701',
 '4115301',
 '6139502',
 '4123347',
 '4121101',
 '4119252',
 '6124420',
 '4115221',
 '6118185',
 '4149300',
 '6136100',
 '4232010',
 '4132010',
 '4149510',
 '4133300',
 '4116150',
 '6136151',
 '4119311',
 '4148210',
 '6119230',
 '4115231',
 '6125440',
 '6123210',
 '4149681',
 '6122130',
 '4244980',
 '4244788',
 '4123130',
 '5607020',
 '6122110',
 '6123470',
 '4123220',
 '3649855',
 '5304095',
 '4119450',
 '4123352',
 '4207350',
 '4113310',
 '4123510',
 '4125944',
 '4125918',
 '4122211',
 '4148655',
 '4150400',
 '4125930',
 '4149120',
 '4123245',
 '4127700',
 '4149690',
 '4146380',
 '4234550',
 '4118400',
 '4149110',
 '4235500',
 '4116311',
 '4148410',
 '4150605',
 '4115350',
 '4149420',
 '4119315',
 '4147710',
 '4146145',
 '4149355',
 '4152460',
 '4125050',
 '4146185',
 '4150510',
 '4244795',
 '4147210',
 '4115321',
 '4149682',
 '4120112',
 '4119170',
 '4135205',
 '4146200',
 '4143790',
 '4123320',
 '4148610',
 '4150410',
 '4146650',
 '4127100',
 '4121130',
 '4115310',
 '4118105',
 '4121150',
 '4147950',
 '4135210',
 '4118420',
 '4123278',
 '4122250',
 '4119230',
 '4152201',
 '4121111',
 '4146161',
 '4149710',
 '4121126',
 '4126100',
 '4116350',
 '4133100',
 '4125025',
 '4119286',
 '4126150',
 '4119460',
 '4119200',
 '4150515',
 '4150800',
 '4244970',
 '4115311',
 '4116340',
 '4119318',
 '4120952',
 '4123135',
 '4116325',
 '4133450',
 '4119510',
 '4150461',
 '4152700',
 '4213880',
 '4149121',
 '4213011',
 '4215160',
 '4146230',
 '4150682',
 '4115305',
 '4148325',
 '4121160',
 '4123345',
 '4132300',
 '4122270',
 '4234670',
 '4132900',
 '4123341',
 '4115235',
 '4119220',
 '4123275',
 '4115210',
 '4245300',
 '4244550',
 '4116201',
 '4115225',
 '4207320',
 '4123360',
 '4121125',
 '4119090',
 '4125917',
 '4125205',
 '4152200',
 '4244730',
 '4150681',
 '4152300',
 '4150700',
 '4150300',
 '4126750',
 '4103650',
 '4146630',
 '4146150',
 '4146085',
 '4121300',
 '4232900',
 '4148070',
 '4116331',
 '4146610',
 '4150311',
 '4147903',
 '4125920',
 '4119281',
 '4125010',
 '4103750',
 '4208527',
 '4115300',
 '4231590',
 '4119295',
 '4116461',
 '4125020',
 '4213100',
 '4147900',
 '4213105',
 '4121100',
 '4119288',
 '4115330',
 '4123255',
 '4150320',
 '4119310',
 '4204900',
 '4113351',
 '4119431',
 '4122101',
 '6830101',
 '4103600',
 '6139770',
 '4133260',
 '4147720',
 '5202057',
 '6135110',
 '6457880',
 '6123170',
 '6123400',
 '3649150',
 '3649321',
 '4123375',
 '6606510',
 '6139284',
 '4146120',
 '6122145',
 '4116301',
 '6870640',
 '6854713',
 '4231250',
 '4147902',
 '5101400',
 '4148300',
 '3649251',
 '4203500',
 '4115230',
 '6139682',
 '4123202',
 '3649850',
 '6122101',
 '6139910',
 '6123790',
 '3649030',
 '6604100',
 '4136301',
 '4115322',
 '3649320',
 '4243280',
 '4215051',
 '6139935',
 '6458753',
 '6136150',
 '4146175',
 '6123410',
 '6118165',
 '4122165',
 '4133200',
 '4146901',
 '4113315',
 '4121121',
 '6172055',
 '6123710',
 '4119327',
 '4115224',
 '4119070',
 '4116351',
 '6136202',
 '6139365',
 '6123270',
 '6139530',
 '6123250',
 '6123750',
 '6136160',
 '6125650',
 '6123181',
 '6119130',
 '6123420',
 '6123180',
 '6123440',
 '6136201',
 '6123230',
 '6119300',
 '4243320',
 '6123770',
 '4123350',
 '4115100',
 '6125680',
 '4116332',
 '6604310',
 '4150465',
 '3635310',
 '6136520',
 '6744500',
 '4149415',
 '4146180',
 '6401090',
 '6123350',
 '6122141',
 '6139680',
 '4115220',
 '4119322',
 '6606347',
 '4119265',
 '4123207',
 '6233150',
 '6457730',
 '6139220',
 '4116300',
 '4115401',
 '6125710',
 '6124600',
 '6125360',
 '4123357',
 '4119080',
 '4115345',
 '4119100',
 '4116360',
 '4123137',
 '4244960',
 '6854601',
 '5104300',
 '5304090',
 '4148110',
 '6172200',
 '6128220',
 '6123370',
 '4204100',
 '4122230',
 '6139310',
 '5202107',
 '6172220',
 '6607140',
 '6122210',
 '3649510',
 '4122255',
 '4147600',
 '5202185',
 '4244840',
 '3649050',
 '3630600',
 '4123355',
 '6123220',
 '4125810',
 '6139850',
 '4125911',
 '4119285',
 '4127202',
 '6123700',
 '6124510',
 '6172351',
 '4146281',
 '6122155',
 '4150310',
 '6125610',
 '6123730',
 '6124520',
 '4149405',
 '4119250',
 '5202150',
 '4119261',
 '4122100',
 '4135200',
 '4123090',
 '4244985',
 '4149670',
 '4147440',
 '4116330',
 '6606200',
 '4148231',
 '4125070',
 '6605800',
 '4118100',
 '4148321']

In [69]:
streamflow_folder = css_folder + "\\2025-02-13_17-18_Monthly\_DataFrames"
sf_df = pd.read_csv(streamflow_folder + "//Joined_Monthly_Sts_DFs.csv", index_col="YYYY-MM", parse_dates=True) # Observed data
sf_df

,3617110,3617811,3617812,3617814,3618051,3618052,3618500,3618700,3618711,3618720,...,6742701,6744200,6744500,6830101,6830103,6854601,6854713,6855411,6855412,6870640
YYYY-MM,,,,,,,,,,,,,,,,,,,,,
1958-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,101.384,67.277,NaN,NaN,NaN,1.935,NaN,NaN,NaN
1958-02-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,359.689,458.993,NaN,NaN,NaN,1.771,NaN,NaN,NaN
1958-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,353.968,283.710,NaN,NaN,NaN,1.813,NaN,NaN,NaN
1958-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,567.067,422.700,NaN,NaN,NaN,1.650,NaN,NaN,NaN
1958-05-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,510.806,298.016,NaN,NaN,NaN,5.655,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-08-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3.768,11.174,17.029,3.885,2.418,1.490,19.073
2023-09-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,4.716,16.677,13.024,7.144,1.497,1.316,40.910
2023-10-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,6.202,9.018,32.953,6.251,3.855,6.647,38.705
2023-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3.392,7.576,10.605,2.982,1.994,11.567,13.254
2023-12-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2.321,6.249,8.012,2.459,1.172,7.997,10.394

In [70]:
''' Longest continuous period for each individual station where data is fully available '''

# Restrict analysis to 1958-2023 (monthly data)
start_date = '1958-01'
end_date = '2023-12'
df_restricted = sf_df.loc[start_date:end_date]

print(f"Shape of restricted data: {df_restricted.shape}")
print(f"Date range: {df_restricted.index.min()} to {df_restricted.index.max()}")

# List to store the longest period for each station
longest_periods = []

# Loop through each station (column)
for station in df_restricted.columns:
    station_data = df_restricted[station].dropna()  # Remove NaNs for the station

    if station_data.empty:
        continue  # Skip stations with no data at all

    print(f"\nProcessing {station}: {len(station_data)} non-null values")

    # Identify contiguous periods (monthly data)
    # Calculate month differences manually to avoid overflow issues
    dates = station_data.index
    
    if len(dates) == 1:
        # Only one data point
        longest_periods.append({
            "Station": station,
            "StartDate": dates[0].strftime('%Y-%m'),
            "EndDate": dates[0].strftime('%Y-%m'),
            "NumMonths": 1
        })
        continue
    
    date_diffs = []
    for i in range(1, len(dates)):
        # Calculate difference in months between consecutive dates
        months_diff = (dates[i].year - dates[i-1].year) * 12 + (dates[i].month - dates[i-1].month)
        date_diffs.append(months_diff)
    
    # Find breaks (where difference is not 1 month)
    breaks = pd.Series([False] + [diff != 1 for diff in date_diffs], index=dates)
    groups = breaks.cumsum()
    
    print(f"  Number of contiguous groups: {groups.nunique()}")
    
    # Count months in each group
    group_counts = groups.value_counts().sort_index()
    
    # Find the group with the most months
    longest_group = group_counts.idxmax()
    longest_group_data = station_data[groups == longest_group]
    
    longest_periods.append({
        "Station": station,
        "StartDate": longest_group_data.index[0].strftime('%Y-%m'),
        "EndDate": longest_group_data.index[-1].strftime('%Y-%m'),
        "NumMonths": len(longest_group_data)
    })
    
    print(f"  Longest period: {len(longest_group_data)} months")

# Convert to DataFrame
longest_periods_df = pd.DataFrame(longest_periods)

# Ensure correct column order if the DataFrame isn't empty
if not longest_periods_df.empty:
    longest_periods_df = longest_periods_df[["Station", "StartDate", "EndDate", "NumMonths"]].reset_index(drop=True)

# Show results
print(f"\n\nFinal results shape: {longest_periods_df.shape}")
longest_periods_df

Shape of restricted data: (792, 810)
Date range: 1958-01-01 00:00:00 to 2023-12-01 00:00:00

Processing 3617110: 626 non-null values
  Number of contiguous groups: 7
  Longest period: 553 months

Processing 3617811: 441 non-null values
  Number of contiguous groups: 1
  Longest period: 441 months

Processing 3617812: 429 non-null values
  Number of contiguous groups: 9
  Longest period: 386 months

Processing 3617814: 554 non-null values
  Number of contiguous groups: 7
  Longest period: 312 months

Processing 3618051: 508 non-null values
  Number of contiguous groups: 2
  Longest period: 477 months

Processing 3618052: 504 non-null values
  Number of contiguous groups: 3
  Longest period: 453 months

Processing 3618500: 632 non-null values
  Number of contiguous groups: 3
  Longest period: 312 months

Processing 3618700: 435 non-null values
  Number of contiguous groups: 6
  Longest period: 245 months

Processing 3618711: 522 non-null values
  Number of contiguous groups: 6
  Longest period: 272 months

Processing 3618720: 503 non-null values
  Number of contiguous groups: 3
  Longest period: 264 months

Processing 3618721: 479 non-null values
  Number of contiguous groups: 2
  Longest period: 310 months

Processing 3618722: 424 non-null values
  Number of contiguous groups: 1
  Longest period: 424 months

Processing 3618950: 505 non-null values
  Number of contiguous groups: 2
  Longest period: 454 months

Processing 3618951: 512 non-null values
  Number of contiguous groups: 1
  Longest period: 512 months

Processing 3621200: 411 non-null values
  Number of contiguous groups: 3
  Longest period: 172 months

Processing 3623100: 550 non-null values
  Number of contiguous groups: 8
  Longest period: 201 months

Processing 3625000: 569 non-null values
  Number of contiguous groups: 6
  Longest period: 391 months

Processing 3626000: 574 non-null values
  Number of contiguous groups: 3
  Longest period: 382 months

Processing 3627000: 447 non-null values
  Number of contiguous groups: 2
  Longest period: 446 months

Processing 3628400: 446 non-null values
  Number of contiguous groups: 11
  Longest period: 174 months

Processing 3628701: 532 non-null values
  Number of contiguous groups: 3
  Longest period: 310 months

Processing 3628900: 397 non-null values
  Number of contiguous groups: 3
  Longest period: 386 months

Processing 3629001: 612 non-null values
  Number of contiguous groups: 3
  Longest period: 601 months

Processing 3630600: 475 non-null values
  Number of contiguous groups: 2
  Longest period: 325 months

Processing 3631100: 552 non-null values
  Number of contiguous groups: 2
  Longest period: 510 months

Processing 3632400: 466 non-null values
  Number of contiguous groups: 8
  Longest period: 148 months

Processing 3633120: 542 non-null values
  Number of contiguous groups: 15
  Longest period: 183 months

Processing 3633123: 437 non-null values
  Number of contiguous groups: 6
  Longest period: 127 months

Processing 3633160: 588 non-null values
  Number of contiguous groups: 9
  Longest period: 242 months

Processing 3633180: 424 non-null values
  Number of contiguous groups: 7
  Longest period: 190 months

Processing 3633301: 499 non-null values
  Number of contiguous groups: 15
  Longest period: 179 months

Processing 3634150: 617 non-null values
  Number of contiguous groups: 8
  Longest period: 292 months

Processing 3634160: 566 non-null values
  Number of contiguous groups: 21
  Longest period: 193 months

Processing 3634320: 557 non-null values
  Number of contiguous groups: 3
  Longest period: 522 months

Processing 3634340: 714 non-null values
  Number of contiguous groups: 10
  Longest period: 459 months

Processing 3634350: 626 non-null values
  Number of contiguous groups: 4
  Longest period: 481 months

Processing 3634360: 520 non-null values
  Number of contiguous groups: 7
  Longest period: 192 months

Processing 3634370: 563 non-null values
  Number of contiguous groups: 7
  Longest period: 324 months

Processing 3635030: 631 non-null values
  Number of contiguous groups: 3
  Longest period: 352 months

Processing 3635035: 627 non-null values
  Number of contiguous groups: 4
  Longest period: 281 months

Processing 3635040: 639 non-null values
  Number of contiguous groups: 4
  Longest period: 593 months

Processing 3635041: 444 non-null values
  Number of contiguous groups: 4
  Longest period: 271 months

Processing 3635301: 566 non-null values
  Number of contiguous groups: 10
  Longest period: 271 months

Processing 3635310: 527 non-null values
  Number of contiguous groups: 4
  Longest period: 298 months

Processing 3635360: 477 non-null values
  Number of contiguous groups: 3
  Longest period: 424 months

Processing 3635402: 497 non-null values
  Number of contiguous groups: 6
  Longest period: 271 months

Processing 3635408: 505 non-null values
  Number of contiguous groups: 3
  Longest period: 359 months

Processing 3635430: 431 non-null values
  Number of contiguous groups: 9
  Longest period: 110 months

Processing 3635440: 457 non-null values
  Number of contiguous groups: 5
  Longest period: 330 months

Processing 3635451: 454 non-null values
  Number of contiguous groups: 3
  Longest period: 369 months

Processing 3635600: 460 non-null values
  Number of contiguous groups: 4
  Longest period: 288 months

Processing 3635650: 541 non-null values
  Number of contiguous groups: 3
  Longest period: 513 months

Processing 3635651: 501 non-null values
  Number of contiguous groups: 3
  Longest period: 462 months

Processing 3637180: 485 non-null values
  Number of contiguous groups: 3
  Longest period: 257 months

Processing 3637380: 492 non-null values
  Number of contiguous groups: 4
  Longest period: 343 months

Processing 3637771: 421 non-null values
  Number of contiguous groups: 3
  Longest period: 272 months

Processing 3637772: 501 non-null values
  Number of contiguous groups: 6
  Longest period: 318 months

Processing 3637773: 483 non-null values
  Number of contiguous groups: 9
  Longest period: 266 months

Processing 3637774: 471 non-null values
  Number of contiguous groups: 5
  Longest period: 293 months

Processing 3637775: 544 non-null values
  Number of contiguous groups: 11
  Longest period: 259 months

Processing 3637790: 485 non-null values
  Number of contiguous groups: 2
  Longest period: 313 months

Processing 3637810: 483 non-null values
  Number of contiguous groups: 2
  Longest period: 457 months

Processing 3637910: 552 non-null values
  Number of contiguous groups: 6
  Longest period: 444 months

Processing 3638050: 566 non-null values
  Number of contiguous groups: 5
  Longest period: 424 months

Processing 3638051: 478 non-null values
  Number of contiguous groups: 7
  Longest period: 310 months

Processing 3638700: 472 non-null values
  Number of contiguous groups: 8
  Longest period: 227 months

Processing 3649010: 643 non-null values
  Number of contiguous groups: 3
  Longest period: 366 months

Processing 3649030: 568 non-null values
  Number of contiguous groups: 1
  Longest period: 568 months

Processing 3649050: 657 non-null values
  Number of contiguous groups: 5
  Longest period: 604 months

Processing 3649110: 445 non-null values
  Number of contiguous groups: 12
  Longest period: 95 months

Processing 3649130: 497 non-null values
  Number of contiguous groups: 5
  Longest period: 165 months

Processing 3649150: 580 non-null values
  Number of contiguous groups: 4
  Longest period: 431 months

Processing 3649151: 520 non-null values
  Number of contiguous groups: 3
  Longest period: 184 months

Processing 3649160: 521 non-null values
  Number of contiguous groups: 11
  Longest period: 116 months

Processing 3649210: 502 non-null values
  Number of contiguous groups: 12
  Longest period: 165 months

Processing 3649211: 544 non-null values
  Number of contiguous groups: 11
  Longest period: 166 months

Processing 3649240: 594 non-null values
  Number of contiguous groups: 5
  Longest period: 225 months

Processing 3649251: 589 non-null values
  Number of contiguous groups: 5
  Longest period: 246 months

Processing 3649310: 567 non-null values
  Number of contiguous groups: 6
  Longest period: 458 months

Processing 3649311: 558 non-null values
  Number of contiguous groups: 4
  Longest period: 462 months

Processing 3649320: 598 non-null values
  Number of contiguous groups: 3
  Longest period: 564 months

Processing 3649321: 576 non-null values
  Number of contiguous groups: 3
  Longest period: 539 months

Processing 3649325: 399 non-null values
  Number of contiguous groups: 2
  Longest period: 355 months

Processing 3649409: 567 non-null values
  Number of contiguous groups: 2
  Longest period: 307 months

Processing 3649411: 579 non-null values
  Number of contiguous groups: 7
  Longest period: 525 months

Processing 3649412: 557 non-null values
  Number of contiguous groups: 2
  Longest period: 554 months

Processing 3649413: 503 non-null values
  Number of contiguous groups: 2
  Longest period: 496 months

Processing 3649416: 617 non-null values
  Number of contiguous groups: 2
  Longest period: 609 months

Processing 3649418: 611 non-null values
  Number of contiguous groups: 1
  Longest period: 611 months

Processing 3649419: 553 non-null values
  Number of contiguous groups: 4
  Longest period: 492 months

Processing 3649420: 643 non-null values
  Number of contiguous groups: 2
  Longest period: 637 months

Processing 3649421: 605 non-null values
  Number of contiguous groups: 2
  Longest period: 602 months

Processing 3649422: 599 non-null values
  Number of contiguous groups: 2
  Longest period: 595 months

Processing 3649423: 597 non-null values
  Number of contiguous groups: 2
  Longest period: 345 months

Processing 3649424: 553 non-null values
  Number of contiguous groups: 4
  Longest period: 518 months

Processing 3649440: 534 non-null values
  Number of contiguous groups: 2
  Longest period: 529 months

Processing 3649450: 541 non-null values
  Number of contiguous groups: 1
  Longest period: 541 months

Processing 3649455: 549 non-null values
  Number of contiguous groups: 2
  Longest period: 546 months

Processing 3649459: 529 non-null values
  Number of contiguous groups: 9
  Longest period: 488 months

Processing 3649460: 535 non-null values
  Number of contiguous groups: 7
  Longest period: 303 months

Processing 3649510: 552 non-null values
  Number of contiguous groups: 5
  Longest period: 486 months

Processing 3649511: 524 non-null values
  Number of contiguous groups: 11
  Longest period: 413 months

Processing 3649610: 404 non-null values
  Number of contiguous groups: 2
  Longest period: 249 months

Processing 3649614: 617 non-null values
  Number of contiguous groups: 3
  Longest period: 334 months

Processing 3649617: 616 non-null values
  Number of contiguous groups: 2
  Longest period: 372 months

Processing 3649619: 616 non-null values
  Number of contiguous groups: 2
  Longest period: 610 months

Processing 3649850: 498 non-null values
  Number of contiguous groups: 12
  Longest period: 277 months

Processing 3649855: 538 non-null values
  Number of contiguous groups: 4
  Longest period: 382 months

Processing 3649901: 585 non-null values
  Number of contiguous groups: 3
  Longest period: 549 months

Processing 3649902: 561 non-null values
  Number of contiguous groups: 2
  Longest period: 557 months

Processing 3649904: 588 non-null values
  Number of contiguous groups: 1
  Longest period: 588 months

Processing 3649905: 605 non-null values
  Number of contiguous groups: 4
  Longest period: 552 months

Processing 3649906: 545 non-null values
  Number of contiguous groups: 1
  Longest period: 545 months

Processing 3649950: 550 non-null values
  Number of contiguous groups: 7
  Longest period: 459 months

Processing 3649960: 565 non-null values
  Number of contiguous groups: 11
  Longest period: 177 months

Processing 4101900: 476 non-null values
  Number of contiguous groups: 4
  Longest period: 325 months

Processing 4102100: 758 non-null values
  Number of contiguous groups: 3
  Longest period: 441 months

Processing 4103200: 515 non-null values
  Number of contiguous groups: 3
  Longest period: 252 months

Processing 4103600: 730 non-null values
  Number of contiguous groups: 1
  Longest period: 730 months

Processing 4103630: 782 non-null values
  Number of contiguous groups: 1
  Longest period: 782 months

Processing 4103650: 777 non-null values
  Number of contiguous groups: 1
  Longest period: 777 months

Processing 4103750: 393 non-null values
  Number of contiguous groups: 1
  Longest period: 393 months

Processing 4103800: 778 non-null values
  Number of contiguous groups: 1
  Longest period: 778 months

Processing 4105820: 715 non-null values
  Number of contiguous groups: 3
  Longest period: 465 months

Processing 4105850: 695 non-null values
  Number of contiguous groups: 1
  Longest period: 695 months

Processing 4113310: 777 non-null values
  Number of contiguous groups: 1
  Longest period: 777 months

Processing 4113315: 772 non-null values
  Number of contiguous groups: 2
  Longest period: 487 months

Processing 4113351: 778 non-null values
  Number of contiguous groups: 1
  Longest period: 778 months

Processing 4113600: 783 non-null values
  Number of contiguous groups: 1
  Longest period: 783 months

Processing 4115100: 777 non-null values
  Number of contiguous groups: 1
  Longest period: 777 months

Processing 4115200: 733 non-null values
  Number of contiguous groups: 1
  Longest period: 733 months

Processing 4115210: 777 non-null values
  Number of contiguous groups: 1
  Longest period: 777 months

Processing 4115220: 777 non-null values
  Number of contiguous groups: 1
  Longest period: 777 months

Processing 4115221: 768 non-null values
  Number of contiguous groups: 2
  Longest period: 465 months

Processing 4115224: 777 non-null values
  Number of contiguous groups: 1
  Longest period: 777 months

Processing 4115225: 405 non-null values
  Number of contiguous groups: 1
  Longest period: 405 months

Processing 4115230: 777 non-null values
  Number of contiguous groups: 1
  Longest period: 777 months

Processing 4115231: 721 non-null values
  Number of contiguous groups: 1
  Longest period: 721 months

Processing 4115235: 762 non-null values
  Number of contiguous groups: 1
  Longest period: 762 months

Processing 4115241: 780 non-null values
  Number of contiguous groups: 1
  Longest period: 780 months

Processing 4115300: 777 non-null values
  Number of contiguous groups: 1
  Longest period: 777 months

Processing 4115301: 681 non-null values
  Number of contiguous groups: 1
  Longest period: 681 months

Processing 4115305: 782 non-null values
  Number of contiguous groups: 1
  Longest period: 782 months

Processing 4115310: 782 non-null values
  Number of contiguous groups: 1
  Longest period: 782 months

Processing 4115311: 782 non-null values
  Number of contiguous groups: 1
  Longest period: 782 months

Processing 4115320: 393 non-null values
  Number of contiguous groups: 2
  Longest period: 345 months

Processing 4115321: 417 non-null values
  Number of contiguous groups: 1
  Longest period: 417 months

Processing 4115322: 781 non-null values
  Number of contiguous groups: 1
  Longest period: 781 months

Processing 4115330: 781 non-null values
  Number of contiguous groups: 1
  Longest period: 781 months

Processing 4115345: 782 non-null values
  Number of contiguous groups: 1
  Longest period: 782 months

Processing 4115350: 614 non-null values
  Number of contiguous groups: 2
  Longest period: 437 months

Processing 4115351: 782 non-null values
  Number of contiguous groups: 1
  Longest period: 782 months

Processing 4115401: 777 non-null values
  Number of contiguous groups: 1
  Longest period: 777 months

Processing 4115410: 781 non-null values
  Number of contiguous groups: 1
  Longest period: 781 months

Processing 4116150: 685 non-null values
  Number of contiguous groups: 1
  Longest period: 685 months

Processing 4116200: 780 non-null values
  Number of contiguous groups: 1
  Longest period: 780 months

Processing 4116201: 671 non-null values
  Number of contiguous groups: 1
  Longest period: 671 months

Processing 4116300: 791 non-null values
  Number of contiguous groups: 1
  Longest period: 791 months

Processing 4116301: 709 non-null values
  Number of contiguous groups: 1
  Longest period: 709 months

Processing 4116311: 665 non-null values
  Number of contiguous groups: 1
  Longest period: 665 months

Processing 4116325: 782 non-null values
  Number of contiguous groups: 1
  Longest period: 782 months

Processing 4116330: 792 non-null values
  Number of contiguous groups: 1
  Longest period: 792 months

Processing 4116331: 537 non-null values
  Number of contiguous groups: 2
  Longest period: 285 months

Processing 4116332: 789 non-null values
  Number of contiguous groups: 1
  Longest period: 789 months

Processing 4116333: 649 non-null values
  Number of contiguous groups: 7
  Longest period: 270 months

Processing 4116340: 734 non-null values
  Number of contiguous groups: 2
  Longest period: 665 months

Processing 4116350: 791 non-null values
  Number of contiguous groups: 1
  Longest period: 791 months

Processing 4116351: 669 non-null values
  Number of contiguous groups: 1
  Longest period: 669 months

Processing 4116360: 533 non-null values
  Number of contiguous groups: 3
  Longest period: 361 months

Processing 4116461: 778 non-null values
  Number of contiguous groups: 1
  Longest period: 778 months

Processing 4118100: 781 non-null values
  Number of contiguous groups: 1
  Longest period: 781 months

Processing 4118105: 781 non-null values
  Number of contiguous groups: 1
  Longest period: 781 months

Processing 4118300: 778 non-null values
  Number of contiguous groups: 1
  Longest period: 778 months

Processing 4118400: 429 non-null values
  Number of contiguous groups: 2
  Longest period: 405 months

Processing 4118410: 777 non-null values
  Number of contiguous groups: 1
  Longest period: 777 months

Processing 4118420: 781 non-null values
  Number of contiguous groups: 1
  Longest period: 781 months

Processing 4118800: 778 non-null values
  Number of contiguous groups: 1
  Longest period: 778 months

Processing 4119070: 777 non-null values
  Number of contiguous groups: 1
  Longest period: 777 months

Processing 4119080: 789 non-null values
  Number of contiguous groups: 1
  Longest period: 789 months

Processing 4119090: 777 non-null values
  Number of contiguous groups: 1
  Longest period: 777 months

Processing 4119100: 785 non-null values
  Number of contiguous groups: 1
  Longest period: 785 months

Processing 4119150: 782 non-null values
  Number of contiguous groups: 1
  Longest period: 782 months

Processing 4119170: 792 non-null values
  Number of contiguous groups: 1
  Longest period: 792 months

Processing 4119200: 790 non-null values
  Number of contiguous groups: 1
  Longest period: 790 months

Processing 4119201: 777 non-null values
  Number of contiguous groups: 1
  Longest period: 777 months

Processing 4119210: 783 non-null values
  Number of contiguous groups: 1
  Longest period: 783 months

Processing 4119220: 783 non-null values
  Number of contiguous groups: 1
  Longest period: 783 months

Processing 4119230: 783 non-null values
  Number of contiguous groups: 1
  Longest period: 783 months

Processing 4119250: 791 non-null values
  Number of contiguous groups: 1
  Longest period: 791 months

Processing 4119251: 791 non-null values
  Number of contiguous groups: 1
  Longest period: 791 months

Processing 4119252: 782 non-null values
  Number of contiguous groups: 1
  Longest period: 782 months

Processing 4119260: 791 non-null values
  Number of contiguous groups: 1
  Longest period: 791 months

Processing 4119261: 790 non-null values
  Number of contiguous groups: 1
  Longest period: 790 months


     Station StartDate  EndDate  NumMonths
0    3617110   1970-08  2016-08        553
1    3617811   1983-05  2020-01        441
2    3617812   1983-04  2015-05        386
3    3617814   1993-10  2019-09        312
4    3618051   1977-08  2017-04        477
..       ...       ...      ...        ...
805  6854601   1961-01  1999-04        460
806  6854713   1958-01  2020-12        756
807  6855411   1975-01  2023-12        588
808  6855412   1975-01  2017-07        511
809  6870640   1966-01  2023-12        696

[810 rows x 4 columns]

In [71]:
lcd_folder = css_folder + "\\2025-02-13_17-18_Monthly\Baseflow"
longest_periods_df.to_csv(lcd_folder + "//monthly_longest_continuos_df.csv", index=False) # Save file for possible further analysis
longest_periods_df.describe().map(lambda x: f"{x:.2f}")

      NumMonths
count    810.00
mean     595.20
std      193.56
min       95.00
25%      442.00
50%      636.00
75%      779.00
max      792.00

In [72]:
runoff_folder = r"Z:\PhD_Datasets&Analysis\Info_Inputs\TerraClimate\GeoTIFF"
ro_df = pd.read_csv(runoff_folder + "\\q_zonal_statistics_1958-2023.csv", index_col="station_no") # Simulated data
ro_df

            YEAR  MONTH     DATE    COUNT        MEAN      FLOW_CMS
station_no
3617110     1958      1  1958-01  29790.0  133.782209  30418.669786
3617110     1958      2  1958-02  29790.0   94.737076  23848.743141
3617110     1958      3  1958-03  29790.0  108.573941  24686.951172
3617110     1958      4  1958-04  29790.0   46.757264  10985.792395
3617110     1958      5  1958-05  29790.0   17.740483   4033.734461
...          ...    ...      ...      ...         ...           ...
6870640     2023      8  2023-08    228.0    4.524123      3.354580
6870640     2023      9  2023-09    228.0   69.341228     53.129506
6870640     2023     10  2023-10    228.0    0.139035      0.103093
6870640     2023     11  2023-11    228.0    0.000000      0.000000
6870640     2023     12  2023-12    228.0    0.000000      0.000000

[639936 rows x 6 columns]

In [73]:
ro_df_pivoted = ro_df.reset_index().pivot(index='DATE', columns='station_no', values='FLOW_CMS') # "FLOW_CMS" was calculated using the default area ("CATCHMENT_SIZE2") from GRDC information
ro_df_pivoted.index.name = "YYYY-MM" # Renaming index to YYYY-MM for consistency with observed data
ro_df_pivoted.columns.name = None # Removing the name of the columns to avoid confusion with the observed data
ro_df_pivoted.columns = ro_df_pivoted.columns.map(str) # Converting column names to string for consistency with observed data
ro_df_pivoted

,3617110,3617811,3617812,3617814,3618051,3618052,3618500,3618700,3618711,3618720,...,6742701,6744200,6744500,6830101,6830103,6854601,6854713,6855411,6855412,6870640
YYYY-MM,,,,,,,,,,,,,,,,,,,,,
1958-01,30418.669786,14205.516959,2524.722925,166.793399,8279.298515,5134.970537,131.593978,4.387927,6.715142,68.256405,...,0.115870,0.240681,1.549751,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1958-02,23848.743141,12550.542394,3199.364015,208.438188,7153.133877,4033.834597,133.319970,3.714735,5.762126,59.988037,...,19.204289,259.001156,395.390854,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1958-03,24686.951172,16763.396446,4620.226302,191.188325,14410.476689,8690.472094,125.203116,2.712254,4.644273,55.716010,...,1.767420,102.614373,86.567401,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1958-04,10985.792395,5891.710325,2065.468802,163.196881,29951.074120,22143.374669,809.539868,22.703979,37.964362,442.792571,...,307.769232,918.328497,552.972703,0.000000,0.000000,1.597581,0.000000,0.405494,6.454026,0.000000
1958-05,4033.734461,424.555215,41.172485,1.756029,16325.330608,12294.834127,2916.252046,173.459528,250.063498,1747.972709,...,55.094371,234.100082,179.832215,7.982829,16.488467,101.108316,10.642615,7.877449,36.359650,118.639944
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-08,235.754361,96.150206,10.059229,0.381905,4033.022803,4058.345291,564.371588,32.236069,36.345724,337.360149,...,8.954571,26.392320,17.215781,0.464302,13.915573,3.238820,5.209120,0.398248,1.400494,3.354580
2023-09,390.187198,205.320395,38.750888,1.934472,2675.232493,2386.618536,87.791320,3.870573,5.525455,44.695534,...,6.884340,15.059579,9.577724,7.073001,23.551538,41.021468,10.806283,3.224264,6.407645,53.129506
2023-10,457.272435,221.639239,38.725726,2.432442,510.111526,470.343259,110.677070,4.901541,7.035489,58.348768,...,5.237116,13.689283,15.596088,0.172034,0.000000,3.742561,0.000000,1.888954,27.464460,0.103093
2023-11,987.453078,434.275623,72.915453,4.000236,6574.563266,5049.870350,91.321420,2.939574,3.952693,47.029208,...,10.666672,69.734841,247.785903,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2023-12,2972.514306,704.277292,134.301787,7.776911,15454.181270,10190.986145,125.149590,5.007537,7.047635,61.134528,...,3.976427,229.495962,362.968252,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

**hs.baseflow_index()**: Compute the baseflow index using the Lyne and Hollick filter (Ladson et al., 2013).

*Parameters*
- discharge : numpy.ndarray or pandas.DataFrame or pandas.Series or xarray.DataArray\
    Discharge time series that must not have any missing values. It can also be a 2D array where each row is a time series.

- n_passes : int, optional\
    Number of filter passes, defaults to 3. It must be an odd number greater than 3.

- alpha : float, optional\
    Filter parameter that must be between 0 and 1, defaults to 0.925.

- pad_width : int, optional\
    Padding width for extending the data from both ends to address the warm up issue.

*Returns*
- numpy.float64\
    The baseflow index.

In [84]:
sts_list = []
bfi_sf_list = []
bfi_ro_list = []

for st in final_sts:
    
    # Get the start and end dates of the longest period of each station
    start_date = longest_periods_df[longest_periods_df["Station"] == st]["StartDate"].to_list()[0]
    end_date = longest_periods_df[longest_periods_df["Station"] == st]["EndDate"].to_list()[0]

    # Extract the streamflow and runoff values for the longest continuous period
    sf_values = sf_df.loc[start_date:end_date, [st]]
    ro_values = ro_df_pivoted.loc[start_date:end_date, [st]]

    # Drop NaN values to ensure valid calculations
    valid_data = pd.DataFrame({'sf': sf_values[st].values, 'ro': ro_values[st].values}).dropna()

    if not valid_data.empty:
        # Extract the observed and simulated values
        sf_data = valid_data['sf'].values
        ro_data = valid_data['ro'].values

        bfi_sf = hs.baseflow_index(sf_data)
        bfi_ro = hs.baseflow_index(ro_data)

        sts_list.append(st)
        bfi_sf_list.append(bfi_sf)
        bfi_ro_list.append(bfi_ro)

# Create a DataFrame to store the BFI results
bfi_df = pd.DataFrame({
    'station_no': sts_list,
    'bfi_sf': bfi_sf_list,
    'bfi_ro': bfi_ro_list})

bfi_df

    station_no    bfi_sf    bfi_ro
0      5204121  0.250990  0.269049
1      4215070  0.202880  0.067198
2      4122160  0.435086  0.194903
3      4123095  0.383575  0.192694
4      4115241  0.372417  0.101878
..         ...       ...       ...
583    4148231  0.450891  0.274269
584    4125070  0.256320  0.325026
585    6605800  0.602878  0.379978
586    4118100  0.336636  0.038962
587    4148321  0.640071  0.254516

[588 rows x 3 columns]

In [87]:
# Check for any NaN values in the BFI DataFrame
bfi_df.isnull().any().sum()

0

In [88]:
bfi_df.describe().map(lambda x: f"{x:.2f}")

       bfi_sf  bfi_ro
count  588.00  588.00
mean     0.40    0.19
std      0.13    0.08
min      0.02    0.04
25%      0.31    0.12
50%      0.40    0.19
75%      0.48    0.23
max      0.89    0.50