In [5]:
import pandas as pd, calendar

In [21]:
css_folder = r"Z:\PhD_Datasets&Analysis\Info_Inputs\Streamflow_Stations\Climate_Sensitive_Stations-GRDC"

filtered_css = pd.read_csv(css_folder + "//CSS_FINAL_SELECTION-MERGE_WITH_ALL.csv") # Read file with all CSS information
filtered_css

,station_name,station_no,station_id,station_latitude,station_longitude,station_status,river_name,station_elevation,CATCHMENT_SIZE,NAT_STA_ID,GRDCCOUNTRY,Continent,has_monthly_k,has_daily_k,monthly_k_recession,daily_k_recession,Next_Downstream_Station,CATCHMENT_SIZE2,Priority,Val_Analysis_Monthly_k
0,ABERCROMBIE,5204121,1075206,-33.954800,149.325200,Active,ABERCROMBIE RIVER,426.55,"2631,00 km²",412028,AU - AUSTRALIA,Oceania,Yes,No,0.420650,NaN,5204302,2631.00,432,Yes
1,ABOVE BOULEAU CREEK,4215070,1069050,50.212223,-119.538610,Active,WHITEMAN CREEK,630.00,"112,00 km²",08NM174,CA - CANADA,North America,Yes,Yes,0.350868,0.910436,4215103,112.00,773,Yes
2,"ABOVE CHENEY RESERVOIRE, KS",4125110,1069620,37.863600,-98.014800,Active,NORTH FORK NINNESCAH RIVER,443.80,"2038,30 km²",07144780,US - UNITED STATES,North America,Yes,Yes,0.417039,0.541509,4125801,2038.30,478,No
3,ABOVE FORT MCPHERSON,4208040,1068040,67.248886,-134.883060,Active,PEEL RIVER,NaN,"70600,00 km²",10MC002,CA - CANADA,North America,Yes,Yes,0.625278,0.942386,NaN,70600.00,59,No
4,"ABOVE HAMBURG, IA",4122160,1068596,40.632500,-95.625800,Active,NISHNABOTNA RIVER,272.54,"7267,50 km²",06810000,US - UNITED STATES,North America,Yes,Yes,0.549697,0.912838,4122903,7267.50,264,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
804,"WOODFORDS, CA (WEST FORK)",4118100,1068421,38.769600,-119.833800,Active,CARSON RIVER,1753.97,"169,38 km²",10310000,US - UNITED STATES,North America,Yes,Yes,0.593689,0.900646,NaN,169.38,732,Yes
805,XAMBIOA,3649418,1071023,-6.409700,-48.542200,Active,RIO ARAGUAIA,118.00,"364500,00 km²",28300000,BR - BRAZIL,South America,Yes,Yes,0.627802,0.974853,3649419,364500.00,20,No
806,XAVANTINA,3649617,1074892,-14.672500,-52.355000,Active,RIO DAS MORTES,266.00,"24950,00 km²",26100000,BR - BRAZIL,South America,Yes,Yes,0.786505,0.977071,3649618,24950.00,123,No
807,"YADKIN COLLEGE, NC",4148321,1069484,35.856700,-80.386900,Active,YADKIN RIVER,194.60,"5905,00 km²",02116500,US - UNITED STATES,North America,Yes,Yes,0.718625,0.896280,4148320,5905.00,294,Yes
808,ZOZA,6150400,1074154,41.724916,9.075456,Active,U RIZZANESE,354.42,"130,00 km²",Y8814010,FR - FRANCE,Europe,Yes,Yes,0.620801,0.875295,NaN,130.00,759,No

In [20]:
monthly_folder = css_folder + "\\2025-02-13_17-18_Monthly\_DataFrames"
obs_df = pd.read_csv(monthly_folder + "//Joined_Monthly_Sts_DFs.csv", index_col="YYYY-MM", parse_dates=['YYYY-MM']) # Observed data
obs_df

,3617110,3617811,3617812,3617814,3618051,3618052,3618500,3618700,3618711,3618720,...,6742701,6744200,6744500,6830101,6830103,6854601,6854713,6855411,6855412,6870640
YYYY-MM,,,,,,,,,,,,,,,,,,,,,
1958-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,101.384,67.277,NaN,NaN,NaN,1.935,NaN,NaN,NaN
1958-02-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,359.689,458.993,NaN,NaN,NaN,1.771,NaN,NaN,NaN
1958-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,353.968,283.710,NaN,NaN,NaN,1.813,NaN,NaN,NaN
1958-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,567.067,422.700,NaN,NaN,NaN,1.650,NaN,NaN,NaN
1958-05-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,510.806,298.016,NaN,NaN,NaN,5.655,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-08-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3.768,11.174,17.029,3.885,2.418,1.490,19.073
2023-09-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,4.716,16.677,13.024,7.144,1.497,1.316,40.910
2023-10-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,6.202,9.018,32.953,6.251,3.855,6.647,38.705
2023-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3.392,7.576,10.605,2.982,1.994,11.567,13.254
2023-12-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2.321,6.249,8.012,2.459,1.172,7.997,10.394

In [ ]:
def convert_to_mm(year, month, q, area_km2):
    num_days = calendar.monthrange(int(year), int(month))[1]
    #streamflow = (q * area_km2 * 1000) / (num_days * 24 *60 *60)  # Convert to m3/s from mm/month
    sheet_of_water = (q * num_days * 24 *60 *60) / (area_km2 * 1000)  # Convert to mm/month from m3/s
    return sheet_of_water

In [28]:
# Ensure the required columns exist in filtered_css
css_stations = filtered_css.set_index("station_no")

# Create a dictionary mapping station_no to CATCHMENT_SIZE2
catchment_size_dict = css_stations["CATCHMENT_SIZE2"].to_dict()

# Filter obs_df to only include columns that match the keys in catchment_size_dict
obs_df_mm = obs_df[[str(k) for k in catchment_size_dict.keys()]].copy()

# Calculate flow in mm/month
for column in obs_df_mm.columns:
    col_key = int(column)
    if col_key in catchment_size_dict:
        obs_df_mm[column] = obs_df.apply(
            lambda row: convert_to_mm(row.name.year, row.name.month, row[column], catchment_size_dict[col_key]),
            axis=1
        )

obs_df_mm.to_csv(monthly_folder + "//Joined_Monthly_Sts_DFs_mm.csv")
obs_df_mm

,5204121,4215070,4125110,4208040,4122160,4208070,4123095,4214090,4115241,4208325,...,4116330,6606200,4148231,4125070,6605800,4118100,3649418,3649617,4148321,6150400
YYYY-MM,,,,,,,,,,,,,,,,,,,,,
1958-01-01,3.470416,NaN,NaN,NaN,3.204866,NaN,45.945646,NaN,55.809867,NaN,...,8.006618,NaN,72.896548,2.299292,87.894531,9.377088,NaN,NaN,55.925264,NaN
1958-02-01,3.269736,NaN,NaN,NaN,9.947764,NaN,40.503865,NaN,113.787247,NaN,...,9.660945,NaN,46.132995,3.327816,89.008902,11.611817,NaN,NaN,44.792277,NaN
1958-03-01,0.907052,NaN,NaN,NaN,11.812232,NaN,45.845750,NaN,43.858504,NaN,...,10.189360,NaN,55.845984,59.194114,71.388158,15.243698,NaN,NaN,52.594160,NaN
1958-04-01,1.378262,NaN,NaN,NaN,6.284285,NaN,90.753659,NaN,187.933369,NaN,...,18.598262,NaN,70.525245,15.180330,134.222085,55.778959,NaN,NaN,97.374044,NaN
1958-05-01,1.481213,NaN,NaN,NaN,4.226104,NaN,88.271209,NaN,135.609294,NaN,...,104.580513,NaN,78.528846,5.780134,66.537712,331.645313,NaN,NaN,69.639307,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-08-01,NaN,NaN,NaN,NaN,3.342334,NaN,31.072611,NaN,NaN,NaN,...,11.628978,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-09-01,NaN,NaN,NaN,NaN,1.358147,NaN,9.861389,NaN,NaN,NaN,...,9.856166,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-10-01,NaN,NaN,NaN,NaN,1.436957,NaN,7.180309,NaN,NaN,NaN,...,9.913312,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-11-01,NaN,NaN,NaN,NaN,1.793268,NaN,10.322834,NaN,NaN,NaN,...,11.500682,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-12-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.453868,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN